/* base */
td,
p,
h1,
h3,
a {
  font-family: Helvetica, Arial, sans-serif;
}

a {
  color: #ec608e;
}

a:hover {
  color: #9e405f;
}

.main-container {
  width: 538px;
  font-size: 1px;
  background-color: #ffffff;
  color: #333333;
}

.text-bold {
  font-weight: bold;
}

/* header */
.header__container {
  height: 60px;
  background-color: #ffffff;
  border-bottom: 1px solid #c9c9c9;
}

.header__logo {
  width: 248px;
  height: auto;
}


/* content */
.main__container {
  padding: 30px 10px;
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
}

.main__task-title {
  font-size: 22px;
}

.main__section {
  padding-top: 10px;
}

.main__section-text {
  padding-left: 10px;
}

.main__priority-img {
  vertical-align: middle;
}

.main__section-title {
  width: 120px;
  display: inline-block;
}

/* footer */
.footer__container {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #c9c9c9;
  color: #ffffff;
  font-size: 12px;
  padding: 10px 10px;
  line-height: 18px;
}